.message {
  width: 300px;
  font-size: 15px;
  overflow-wrap: break-word;
}

.hand {
  position: relative;
  width: 50vw;
}

.image {
  height: 200px;
  position: absolute;
  left: 300px;
  bottom: -50px;
}

.highlighted {
  border: 2px solid blue;
}

#card0 {
  transform-origin: bottom left;
  transform: rotate(-16deg);
}
#card1 {
  transform-origin: bottom left;
  transform: rotate(-8deg);
}
#card2 {
  transform: rotate(0);
}

#card3 {
  transform-origin: bottom left;
  transform: rotate(8deg);
}
#card4 {
  transform-origin: bottom left;
  transform: rotate(16deg);
}
